/* TEMPLATE STYLES */

/* Necessary for full page carousel*/
html {
    background : #EFEFEF;
}

body {
    background : none;
}

html, body, .view {
    height : 100%;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
    color : rgba(12, 62, 1, 1) !important;
}

.jumbotron h1 small, .jumbotron h2 small, .jumbotron h3 small, .jumbotron h4 small, .jumbotron h5 small, .jumbotron h6 small {
    color : rgb(55, 58, 60) !important;
}

.view h1, .view h2, .view h3, .view h4, .view h5, .view h6,
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color : #FFFFFF;
}

/* Navigation*/

.navbar {
    background-color : transparent;
    box-shadow       : none;
    padding          : 0px 10px;
}

nav .navbar:hover {
    background-color : rgba(12, 62, 1, 1);
    box-shadow       : 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

footer .navbar.footer {
    background-color : rgba(2, 2, 2, 0.2);
    text-align       : center;
    height           : 34px;
}

footer .navbar.footer .navbar-nav .nav-item {
    float          : initial !important;
    text-align     : center;
    font-size      : 1em;
    display        : inline-block;
    letter-spacing : 1px;
}

footer .navbar.footer .navbar-nav .nav-item a {
    padding : 5px !important;
    border  : none !important;

}

footer .navbar.footer .navbar-nav .nav-item a:hover,
footer .navbar.footer .navbar-nav .nav-item a:focus,
footer .navbar.footer .navbar-nav .nav-item.current.active a {
    color : #FFFFFF;
}

footer .navbar.footer .navbar-nav .nav-item.current.active a {

    font-weight : bold;
}

.navbar-brand {
    margin : 2px 0px;
}

.navbar-brand > img {
    margin-right : 10px;
}

.navbar-dark .navbar-nav .nav-item > a.nav-link {
    color : rgba(255, 255, 255, 0.8);
}

.navbar-nav > .nav-link {
    margin-bottom : -1px;
}

.navbar-nav .open > .nav-link,
.navbar-nav .open > .nav-link:focus,
.navbar-nav .open > .nav-link:hover,
.navbar-nav .active > .nav-link,
.navbar-nav .active > .nav-link:focus,
.navbar-nav .active > .nav-link:hover,
.navbar-nav .nav-link.open,
.navbar-nav .nav-link.open:focus,
.navbar-nav .nav-link.open:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:focus,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    border-bottom  : 3px solid #FFFFFF;
    padding-bottom : 3px;
}

.navbar.top-nav-collapse {
    box-shadow : 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.navbar-nav .nav-item + .nav-item {
    margin-bottom : -1px;
}

.navbar-nav .nav-item > a {
    padding-left  : 5px;
    padding-right : 5px;
}

.top-nav-collapse {
    background-color : rgba(12, 62, 1, 1);
}

.full-bg-img h1 {
    margin-top : 10px;
}

.jumbotron {
    background-color : #FFFFFF;
    padding          : 2rem;
    border-radius    : 0px !important;
}

#breadcrumb-content {
    margin-top : 15px;
}

.breadcrumb {
    color          : #818A91;
    font-size      : 0.8em !important;
    text-transform : uppercase;
    margin-bottom  : 0px;
    padding        : 0.5rem 2rem;
}

.breadcrumb .divider {
    margin-right : 5px;
}

.breadcrumb > li + li::before {
    content : initial !important
}

li.breadcrumb_home {
    padding    : 0px;
    margin-top : -6px;
}

.breadcrumb > li {
    float       : left;
    padding-top : 5px;
}

.breadcrumb > li > a:hover,
.breadcrumb > li > a:focus {
    text-decoration : none;
}

span.breadcrumb_home {
    font-size : 1.5em !important;
}

.blog-list_item .col-sm-8 {
    height : 217px;
}

.blog-list_item p {
    margin-bottom : 0px;
    height        : 96px;
}

.blog-list_item a.btn-floating {
    position : absolute;
    bottom   : -10px;
    right    : -10px;
}

ul.label_list {
    margin-top : -5px;
}

.label {
    border-radius  : 4px;
    margin-right   : 5px;
    margin-top     : -15px;
    margin-bottom  : 5px;
    padding        : 3px 5px;
    text-transform : uppercase;
    letter-spacing : 1px;
}

footer.page-footer {
    background-color : rgba(12, 62, 1, 1);
}

footer.page-footer .footer-copyright {
    height           : initial;
    line-height      : initial;
    font-size        : 0.7em;
    padding          : 5px;
    letter-spacing   : 1px;
    background-color : rgba(8, 43, 1, 1);
    padding          : 10px !important;
}

ol.carousel-indicators {
    margin-bottom : 80px;
}

.light-side-nav .logo-wrapper {
    background       : none;
    background-color : rgba(12, 62, 1, 1);
}

.side-nav .logo-wrapper,
.side-nav .logo-wrapper img,
.side-nav .logo-wrapper a {
    padding   : 2px 0px;
    height    : 43px;
    font-size : 18.75px
}

.side-nav .logo-wrapper a {
    0.74px 16px;
    line-height : 23.25px;
    color       : #FFFFFF;
    padding     : 6px 16px;
}

/* Carousel*/

.carousel, .carousel-item, .active {
    height : 100%;
}

@media (max-width : 776px) {
    .carousel {
        height : 100%;
    }
}

.carousel-item,
.active {
    height : 100%;
}

.carousel-inner {
    height : 100%;
}

.carousel-item {
    background-repeat : no-repeat;
    background-size   : cover;
}

.carousel-control.left, .carousel-control.right, .carousel-control.center {
    width: 47px;
    height:47px;
    background: none;
    top: 50%;
    position: absolute;
    margin-top: -23.5px;
}
.carousel-control i {
    line-height: 47px;
    margin: 0px auto;
}
/*Caption*/

a.center.carousel-control {
    /* background: azure; */
    width         : 100%;
    height        : 40px;
    /* position: fixed; */
    bottom        : 0px;
    margin-bottom : 0px;
    top           : initial;
}

span.icon-prev.down {
    transform : rotate(-90deg);
}

.flex-center {
    color : #FFFFFF;
}

nav .collapse, nav .collapsing {
    clear : both;
}

a {
    color : rgba(8, 43, 1, 1);
}

a:hover, a:focus {
    color : rgba(12, 62, 1, 1);
}

a.button-collapse {
    color     : #FFFFFF;
    float     : right;
    padding   : 6px;
    font-size : 1.25em;
}

.btn {
    color : #FFFFFF !important;
}

/*buttons*/
.label-default {
    background-color : rgba(12, 62, 1, 1);
}

.btn-default {
    background-color : rgba(8, 43, 1, 1);
}

.btn-default:hover, .btn-default:focus {
    background-color : rgba(12, 62, 1, 1) !important;
}

.btn-default-outline {
    border-color : rgba(8, 43, 1, 1);
    color        : rgba(8, 43, 1, 1);
    padding      : 4px 16px;
}

.btn-default-outline:hover, .btn-default-outline:focus {
    border-color : rgba(12, 62, 1, 1) !important;
    color        : rgba(12, 62, 1, 1);
}

.btn-social.btn-wh {
    background-color : #43D854;
}

.btn-call-to-action {
    font-size : 3em;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    border-color     : rgba(12, 62, 1, 1);
    background-color : rgba(12, 62, 1, 1);
}

.page-link {
    color : rgba(12, 62, 1, 1);
}

#content-head {
    height              : 450px;
    background-size     : cover;
    background-position : center;
}

#content.container {
    margin-top : 15px;
}

#content.container .row .col-xs-12 {
    padding : 0px;
}

#content.container .row .col-md-4 {
    padding : 0px 15px;
}

#content.container .row .col-md-4:nth-child(2) {
    padding : 0px
}

.jumbotron.m-1, .m-1.author-box {
    margin        : 0px;
    margin-top    : -82px;
    margin-bottom : 0px;
}

section p {
    font-weight : 700;
    margin      : 0px;
}

section p:first-letter {
    color        : rgba(12, 62, 1, 1);
    font-size    : 1.5em;
    margin-right : 2px;
}

#article-content,
#blog-content {
    margin-top    : 15px;
    margin-bottom : 0px;
}

#blog-content.horizontal-listing h1,
#blog-content.horizontal-listing h2,
#blog-content.horizontal-listing h3,
#blog-content.horizontal-listing h4,
#blog-content.horizontal-listing h5,
#blog-content.horizontal-listing h6 {
    text-align : left;
}

article img {
    max-width   : 100%;
    height      : auto;
    box-shadow  : 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    float       : right;
    margin-left : 10px;
}

#gallery-content {
    margin-top       : 15px;
    margin-bottom    : 0px;
    padding          : 2rem;
    background-color : #FFFFFF
}

#gallery-paginiation-content {
    margin-top       : 15px;
    margin-bottom    : 0px;
    padding          : 0rem 2rem;
    background-color : #FFFFFF
}

.col-md-4 > .card > .view {
    max-height : 218px;
}

.view img.img-fluid {
    max-width : 100%;
}

.card {
    margin        : 0px;
    border-radius : 0px !important;
}

p.card-text {
    height        : 110px;
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : pre-line;
}

.card .btn-floating.btn-small {
    position : absolute;
    right    : 10px;
    bottom   : 10px;
}

footer.page-footer {
    margin-top : 15px;
}

footer.page-footer .call-to-action {
    padding : 0px;
}

.landing.call-to-action > ul > li {
    display : inline-block;
}

.landing.call-to-action > ul > li > a:hover,
.landing.call-to-action > ul > li > a:focus {
    text-decoration : none;
}

a.btn-call-to-action.btn-android {
    font-size   : 12em;
    line-height : 0.3em !important;
    height      : 57px;
    display     : block;
}

a.btn-call-to-action.btn-bootstrap {
    font-size   : 12em;
    line-height : 0.3em !important;
    height      : 57px;
    display     : block;
}

a.btn-call-to-action.btn-microsoft {
    font-size   : 12em;
    line-height : 0.3em !important;
    height      : 57px;
    display     : block;
}

a.btn-call-to-action.btn-office {
    font-size   : 12em;
    line-height : 0.3em !important;
    height      : 57px;
    display     : block;
}

.icon-android {
    color : #A4C639;
}

.icon-bootstrap {
    color : #5B4282;
}

.icon-microsoft {
    color : #00A1F1;
}

.icon-office {
    color : #EA3E23;
}

.icon-adobe {
    color : #FF0000;
}

.icon-wosm {
    color : #622599;
}

.icon-xbox {
    color : #52B043;
}

.fa.fa-html5 {
    color : #E34F26;
}

.fa.fa-css3 {
    color : #1299D1;
}

.fa.fa-joomla {
    color : #F9A541;
}

.fa.fa-bitbucket {
    color : #205081;
}

.icon-javascript {
    color : #F1BE21;
}

.icon-php {
    color : #8892BE;
}

a.btn-call-to-action i {
    transition : .3s;
}

a.btn-call-to-action:hover i {
    color : rgba(12, 62, 1, 1);
}

.md-form label.active {
    font-size         : .8rem;
    -webkit-transform : translateY(-40%);
    -moz-transform    : translateY(-40%);
    -ms-transform     : translateY(-40%);
    -o-transform      : translateY(-40%);
    transform         : translateY(-40%)
}

textarea.md-textarea {
    padding     : initial;
    padding-top : 7px;
}

input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
    border-bottom : 1px solid rgba(12, 62, 1, 1);
    box-shadow    : 0 1px 0 0 rgba(12, 62, 1, 1);
}

.md-form .prefix.active, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=search-md]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, textarea.md-textarea:focus:not([readonly]) + label {
    color : rgba(12, 62, 1, 1);
}

.mod_skills {
    margin-top    : 15px;
    margin-bottom : -1px;
}

@media only screen and (max-width : 732px) {
    #content-head {
        height : 250px;
    }

}

@media only screen and (min-width : 992px) {
    .side-nav.fixed {
        display : none;
    }
}

.row.slick-initialized.slick-slider {
    margin: 0px;
}
#content.container .row.slick-initialized.slick-slider .col-md-4{
    padding: 7.5px !important
}
.slick-list.draggable{
    /*overflow: inherit;*/
    height:auto;
}
.slick-list.draggable .slick-track {
    /*margin-left: 15px;*/
    padding-bottom: 15px;
}
a.btn-floating.btn-default.waves-effect.waves-light.left.slick-arrow {
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: -23.5px;
}
a.btn-floating.btn-default.waves-effect.waves-light.right.slick-arrow {
    position: absolute;
    right: -50px;
    top: 50%;
    margin-top: -23.5px;
}
ul.slick-dots{
    margin-top:-15px;
    width:100%;
}
ul.slick-dots, ul.slick-dots li {
    display: inline-block;
    text-align: center;
}
ul.slick-dots > li > a{
    height:15px !important;
    width:15px !important;
    background:initial;
    outline:hidden !important;
}
ul.slick-dots > li.slick-active > a{    background-color: rgba(8, 43, 1, 1);}

ul.slick-dots > li > a:hover,
ul.slick-dots > li > a:focus{
    text-decoration:none;
}