@font-face {
    font-family: 'icomoon';
    src:    url('../../font/icomoon/icomoon.eot?x1q61j');
    src:    url('../../font/icomoon/icomoon.eot?x1q61j#iefix') format('embedded-opentype'),
        url('../../font/icomoon/icomoon.ttf?x1q61j') format('truetype'),
        url('../../font/icomoon/icomoon.woff?x1q61j') format('woff'),
        url('../../font/icomoon/icomoon.svg?x1q61j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-adobe:before {
    content: "\e907";
}
.icon-wosm:before {
    content: "\e906";
}
.icon-android:before {
    content: "\e900";
}
.icon-bootstrap:before {
    content: "\e901";
}
.icon-javascript:before {
    content: "\e902";
}
.icon-microsoft:before {
    content: "\e903";
}
.icon-office:before {
    content: "\e904";
}
.icon-php:before {
    content: "\e905";
}
.icon-xbox:before {
    content: "\e94f";
}
